@import "constants";

#top {
  display: flex;
  padding: 50px 100px 0;
  @media screen and (max-width: 930px) {
    flex-flow: column wrap;
  }
  @media screen and (max-width: 720px) {
    padding: 50px 50px 0;
  }
}

#top-text {
  h2 {
    color: $navy-blue;
    font-size: 72px;
    font-weight: bolder;
    @media screen and (max-width: 650px) {
      font-size: 48px;
    }
  }

  p {
    font-size: 24px;
    @media screen and (max-width: 650px) {
      font-size: 20px;
    }
    margin-left: 20px;
    a {
      color: $navy-blue;
      position: relative;
      z-index: 300;
      font-weight: 600;
    }
  }

}

#top-arrow {
  position: absolute;
  top: 164px;
  left: 400px;
  background-image: url("../images/arrow.png");
  width: 227px;
  height: 46px;
  @media screen and (max-width: 930px) {
    display: none;
  }
}

#top-logos {
  margin-top: 5px;
  display: flex;
  flex-flow: column wrap;
  height: 230px;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  img {
    filter: gray;
    filter: grayscale(1);
    transition: 1s filter;
    &:hover {
      filter: none;
    }
  }
  @media screen and (max-width: 930px) {
    margin-top: 20px;
    width: 100%;
    height: inherit;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 931px) {
  .mobile-text {
    display: none;
  }
}