@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#top {
  display: flex;
  padding: 50px 100px 0; }
  @media screen and (max-width: 930px) {
    #top {
      flex-flow: column wrap; } }
  @media screen and (max-width: 720px) {
    #top {
      padding: 50px 50px 0; } }

#top-text h2 {
  color: #312e59;
  font-size: 72px;
  font-weight: bolder; }
  @media screen and (max-width: 650px) {
    #top-text h2 {
      font-size: 48px; } }
#top-text p {
  font-size: 24px;
  margin-left: 20px; }
  @media screen and (max-width: 650px) {
    #top-text p {
      font-size: 20px; } }

#top-arrow {
  position: absolute;
  top: 164px;
  left: 400px;
  background-image: url("../images/arrow.png");
  width: 227px;
  height: 46px; }
  @media screen and (max-width: 930px) {
    #top-arrow {
      display: none; } }

#top-logos {
  margin-top: 5px;
  display: flex;
  flex-flow: column wrap;
  height: 230px;
  width: 200px;
  justify-content: space-around;
  align-items: center; }
  #top-logos img {
    filter: gray;
    filter: grayscale(1);
    transition: 1s filter; }
    #top-logos img:hover {
      filter: none; }
  @media screen and (max-width: 930px) {
    #top-logos {
      margin-top: 20px;
      width: 100%;
      height: inherit;
      flex-flow: row wrap; } }

@media screen and (min-width: 931px) {
  .mobile-text {
    display: none; } }
#work-container {
  display: flex;
  margin: 0 20px;
  justify-content: space-around;
  flex-flow: row wrap; }

.cause {
  position: relative;
  margin-top: 20px; }
  .cause:nth-child(odd) .cause-details {
    right: 0; }
  .cause:nth-child(odd):hover > .cause-demo {
    visibility: visible;
    opacity: 1; }
  .cause:nth-child(odd):hover > .cause-details {
    right: -460px;
    width: 460px; }
    .cause:nth-child(odd):hover > .cause-details h3, .cause:nth-child(odd):hover > .cause-details p {
      opacity: 1;
      transition: all 1s ease 0.5s; }
  .cause:nth-child(even) .cause-details {
    left: 0; }
  .cause:nth-child(even):hover > .cause-demo {
    visibility: visible;
    opacity: 1; }
  .cause:nth-child(even):hover > .cause-details {
    width: 460px;
    left: -460px; }
    .cause:nth-child(even):hover > .cause-details h3, .cause:nth-child(even):hover > .cause-details p {
      opacity: 1;
      transition: all 1s ease 0.5s; }

.cause-demo {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 204px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1s; }
  .cause-demo a {
    color: white;
    font-weight: 400;
    font-size: 36px;
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 75px; }

.cause-details {
  position: absolute;
  top: 0;
  height: 204px;
  width: 0;
  background-color: #d1d1d1;
  transition: all 2s;
  overflow: hidden;
  z-index: 998; }
  .cause-details h3 {
    color: #312e59;
    font-weight: bolder;
    margin: 10px 20px 5px 20px;
    font-size: 1.3em; }
  .cause-details p {
    margin: 0px 20px 5px 20px; }
  .cause-details h3, .cause-details p {
    opacity: 0;
    transition: all 0.5s ease 0s; }

#contact {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px; }
  #contact p {
    width: 100%;
    text-align: center;
    margin-top: 10px; }
  #contact i {
    font-size: 2.2em;
    margin: 0 8px;
    transition: all 0.8s; }
    #contact i:hover {
      color: #323335;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  color: #5d5d5d; }

a {
  text-decoration: none; }

body {
  background-color: #e6e6e6; }

#page-container {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

#logo {
  background-image: url("../images/logo.png");
  height: 35px;
  width: 58px;
  position: fixed;
  top: 10px;
  opacity: 0.05;
  z-index: 1000;
  transition: 1s opacity; }
  #logo:hover {
    opacity: 1; }
  @media screen and (max-width: 340px) {
    #logo {
      display: none; } }

#navigation {
  position: fixed;
  top: 0;
  z-index: 1000; }
  @media screen and (max-width: 930px) {
    #navigation {
      right: 10%; } }
  @media screen and (min-width: 931px) {
    #navigation {
      left: 50%; } }

#menu {
  list-style-type: none; }
  #menu li {
    background-color: #312e59;
    display: inline-block;
    padding: 13px 12px;
    transition: 0.5s background-color; }
    #menu li a {
      color: white; }
    #menu li:first-child {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 5px; }
    #menu li:last-child {
      border-bottom-right-radius: 5px; }
    #menu li:hover {
      background-color: #45426c; }
    #menu li:active {
      box-shadow: inset 0 0 12px 0 rgba(49, 46, 89, 0.8); }

hr {
  height: 3px;
  background-color: #312e59;
  margin: 40px 0 20px 0; }

.section_title {
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #312e59; }

#footer {
  width: 100%;
  height: 8px;
  background-color: #312e59; }

/*# sourceMappingURL=style.css.map */
